body {
    /*    background-image: linear-gradient(to right,#c4e5f6, #fbfbfb, #c4e5f6);*/
    background-image: linear-gradient(to right,#00a2915b, #fbfbfb, #00a2915b);
    background-repeat: round;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    /*    background-color: rgba(0, 0, 0, 0);*/
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
    background-color: white;
    margin-top: -15px;
    margin-left: 20px;
    width: 2500px;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, .1);
    background: rgb(255, 255, 255, 0.50);
}

nav li {
    display: flex;
    margin-right: 27px;
    margin-top: 27px;
    margin-bottom: 20px;
}
/*nav img {
    width: 80px;
    height: 70px;
    transition: transform 0.3s ease-in-out;
    
}
    nav img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }*/
nav button {
    background-color: rgba(0, 0, 0, .0);
    border: hidden;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease-in-out;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: #00352fff;
}

    nav button:hover {
        cursor: pointer;
        color: #004a41ff;
    }

ul a {
    margin-bottom: 24px;
    margin-right: 20px;
    border-radius: 15px;
}

    ul a:hover {
        background-image: linear-gradient(#24c372, #008c7de6);
    }



.container_div {
    margin-top: 25px;
}

form {
    background-color: white;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 18px;
    padding: 30px;
    margin: 10px;
    margin-left: 40px;
    box-shadow: 0 36px 15px 0 rgba(0,0,0,0.24), 0 4px 90px 0 rgba(0,0,0,0.19);
    /*    border: 5px solid rgba(0, 0, 0, .1);*/
}

    form label {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 28px;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 25%;
    }
.textLabel {
    color: #00a291e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 25%;
    font-weight: bold;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 170px;
    padding: 8px;
    text-align: left;
    margin-top: 25px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, .1);
    place-content: center;
}

span {
    display: grid;
    margin-left: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff392ff1;
    font-size: 14px;
}

.registerBtn {
    background-image: linear-gradient(#2be586, #00a291e6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 190px;
    padding: 8px;
    text-align: left;
    margin-top: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: white;
    border: 0px solid rgba(0, 0, 0, .1);
}
    .registerBtn:hover {
        cursor: pointer;
        background-image: linear-gradient(#24c372, #008c7de6);
    }

.login-btn {
    margin-top: 15px;
    width: 100px;
    margin-left: 37%;
    font-size: 13px;
    color: #00a291e6;
    text-decoration: none
}